.heroItem{
    display: flex;
    margin: 0 3.5rem;
    background: linear-gradient(145deg, rgba(19,41,39,1) 0%, rgba(42,4,79,1) 50%, rgba(0,0,52,1) 100%);
    border-radius: 50px;
    border: none;
    animation: linear;
    animation-name: glowingOff;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
    cursor: pointer !important;
}

.heroItemTitle {
    width: 20vw;
    height: 55dvh;
    border: none;
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
    background: none;
    backdrop-filter: blur(1px);
}

.heroItem:hover{
    animation: linear;
    animation-name: glowing;
    animation-duration: 0.15s;
    animation-fill-mode: forwards; 
}

@keyframes glowing{
    0% { box-shadow: 0 0 1px rgb(74, 2, 82); scale: 1;}
    100% { box-shadow: 0 0 35px rgb(74, 2, 82); scale: 1.1;}
}

@keyframes glowingOff{
    0% { box-shadow: 0 0 35px rgb(74, 2, 82); scale: 1.1;}
    100% { box-shadow: 0 0 1px rgb(74, 2, 82); scale: 1;}
}
