.main {
    background-color: rgb(151, 151, 213);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: scroll;
}

.titleBox {
    text-align: center;
}

.cardsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20dvh;
    flex-wrap: wrap;
    gap: 3em;
    margin: 0 100px;
    margin-bottom: 250px;
}