.main {
    background-color: rgb(151, 151, 213);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100dvh;
}

.titleBox {
    text-align: center;
}

.cardsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20dvh;
}