.pageTitle {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 1rem;
    background: -webkit-linear-gradient(45deg, rgb(var(--title-start-rgb)), rgb(var(--title-end-rgb)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facts {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}

.factsContent {
    width: 75vw;
    padding: 1rem;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px black;
}

.loadingIcon {
    position: sticky;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.loadingIcon.show {
    opacity: 1;
}